__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.mypy_cache/
dist/
dist-doc/
build/
**/tl/__init__.py
**/tl/layer.py
**/tl/abcs/
**/tl/functions/
**/tl/types/
**/mtproto/layer.py
**/mtproto/abcs/
**/mtproto/functions/
**/mtproto/types/
**/testbed.py
*.session
