# Generated code
/telethon/_tl/fn/
/telethon/_tl/*.py
/telethon/_tl/alltlobjects.py
/telethon/errors/_generated.py

# User session
*.session
sessions/
/usermedia/

# Builds and testing
__pycache__/
/dist/
/build/
/*.egg-info/
/readthedocs/_build/
/.tox/

# API reference docs
/docs/

# File used to manually test new changes, contains sensitive data
/example*.py
